In [1]:
import pandas as pd
import os
from tqdm import tqdm

In [29]:
dfn = pd.read_csv('synset_relations.N.csv')

In [27]:
dfn.name.unique()

array(['POS-synonymy', 'hypernym', 'hyponym', 'domain', 'part holonym',
       'part meronym', 'instance hyponym', 'instance hypernym', 'antonym'],
      dtype=object)

In [44]:
dictionary = set()

In [29]:
senses_N = df['main_word'].unique()

In [30]:
dfn.loc[(dfn.name=='part holonym')|(dfn.name=='part meronym')]

        child_id          name parent_id
14         489-N  part holonym  133812-N
48        4694-N  part holonym    9477-N
53        2062-N  part meronym  129155-N
157      10068-N  part meronym     563-N
177       1664-N  part holonym  115073-N
...          ...           ...       ...
130908  100891-N  part holonym  100892-N
130944  100979-N  part holonym  102261-N
130959    6646-N  part holonym    2536-N
130960     294-N  part meronym    2536-N
130961  127168-N  part meronym    2536-N

[6896 rows x 3 columns]

In [45]:
for i in range(len(senses_N)):
    if type(senses_N[i]) is str:
        dictionary.add(senses_N[i].lower())

In [28]:
len(dictionary)

NameError: name 'dictionary' is not defined

In [30]:
hypernymy = dfn.loc[(dfn['name'] == 'hyponym')]#((dfn['name'] == 'hypernym'))

In [31]:
hypernymy

        child_id     name parent_id
2       126551-N  hyponym  147272-N
6         5792-N  hyponym    7331-N
24      139523-N  hyponym  135214-N
33      120440-N  hyponym  112039-N
40      134577-N  hyponym  123458-N
...          ...      ...       ...
131026  135768-N  hyponym    3949-N
131027  142357-N  hyponym    3949-N
131028  144031-N  hyponym    3949-N
131029  147153-N  hyponym    3949-N
131030  153553-N  hyponym    3949-N

[37249 rows x 3 columns]

In [270]:
hypernymy.to_csv(os.getcwd()+"\\hypernymy.csv" , encoding='utf-8-sig', header=True, index=False)

In [36]:
nouns = pd.read_csv('senses.N.csv')

In [41]:
nouns.head()

         id                    ruthes_name
0  147272-N              КРЕСТНЫЙ РОДИТЕЛЬ
1    7331-N      НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
2  133812-N                     ЗАБОР ВОДЫ
3  106097-N               ФРАНЦУЗСКИЙ ЯЗЫК
4  132584-N  МЕМБРАНА  (ДЕТАЛЬ УСТРОЙСТВА)

In [42]:
nouns.loc[nouns.id == hypernymy.loc[0,'child_id']].ruthes_name.array[0]

'КРЕСТНЫЙ ОТЕЦ'

In [34]:
hypernymy = pd.read_csv('hypernymy.csv')
hypernymy_ids = hypernymy[['child_id','parent_id']]

In [43]:
hypernymy_ids.head()

   child_id parent_id
0  126551-N  147272-N
1    5792-N    7331-N
2  139523-N  135214-N
3  120440-N  112039-N
4  134577-N  123458-N

In [39]:
nouns = pd.read_csv('synsets.N.csv')

In [40]:
nouns = nouns[['id', 'ruthes_name']]

In [276]:
nouns.head()

         id                    ruthes_name
0  147272-N              КРЕСТНЫЙ РОДИТЕЛЬ
1    7331-N      НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
2  133812-N                     ЗАБОР ВОДЫ
3  106097-N               ФРАНЦУЗСКИЙ ЯЗЫК
4  132584-N  МЕМБРАНА  (ДЕТАЛЬ УСТРОЙСТВА)

In [277]:
hypernymy.head()

   child_id     name parent_id
0  126551-N  hyponym  147272-N
1    5792-N  hyponym    7331-N
2  139523-N  hyponym  135214-N
3  120440-N  hyponym  112039-N
4  134577-N  hyponym  123458-N

In [278]:
df.loc[0,'child_id']

123

In [279]:
child_ids = hypernymy.child_id

In [280]:
parent_ids = hypernymy.parent_id

In [281]:
for i in tqdm(range(len(child_ids)), desc='Progress'):
    hypernymy.loc[i,'child_id'] = nouns.loc[nouns.id == hypernymy.loc[i,'child_id']].ruthes_name.array[0]

Progress: 100%|██████████| 37249/37249 [06:37<00:00, 93.78it/s]

In [282]:
for i in tqdm(range(len(parent_ids)), desc='Progress'):
    hypernymy.loc[i,'parent_id'] = nouns.loc[nouns.id == hypernymy.loc[i,'parent_id']].ruthes_name.array[0]

Progress: 100%|██████████| 37249/37249 [08:54<00:00, 69.70it/s]

In [284]:
hypernymy[['child_id','parent_id']][0:10]

                           child_id                      parent_id
0                     КРЕСТНЫЙ ОТЕЦ              КРЕСТНЫЙ РОДИТЕЛЬ
1                 ОБМАН ПОКУПАТЕЛЕЙ      НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
2                   ВОЕННАЯ ТАКТИКА  ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ
3                           УСМЕШКА                         УЛЫБКА
4               РЕЦЕПТУРА ЛЕКАРСТВА           РЕЦЕПТ ПРИГОТОВЛЕНИЯ
5                 КУЛИНАРНЫЙ РЕЦЕПТ           РЕЦЕПТ ПРИГОТОВЛЕНИЯ
6               ЧИТАТЕЛЬ БИБЛИОТЕКИ                     ПОСЕТИТЕЛЬ
7                       ЗАВСЕГДАТАЙ                     ПОСЕТИТЕЛЬ
8              БУХГАЛТЕРСКИЙ БАЛАНС          ФИНАНСОВЫЙ ПОКАЗАТЕЛЬ
9  ОКУПАЕМОСТЬ КАПИТАЛЬНЫХ ВЛОЖЕНИЙ          ФИНАНСОВЫЙ ПОКАЗАТЕЛЬ

In [286]:
hypernymy[['child_id','parent_id']].to_csv(os.getcwd()+"\\pos_hypernymy.csv" , encoding='utf-8-sig', header=True, index=False)

In [186]:
dfn.head()

   child_id          name parent_id
0  147272-A  POS-synonymy  147272-N
1    4544-N      hypernym  147272-N
2  126551-N       hyponym  147272-N
3    2201-N        domain  147272-N
4    1150-N        domain  147272-N

In [290]:
without_hyps = dfn.loc[(dfn['name'] == 'domain') | (dfn['name'] == 'antonym') ]

In [293]:
without_hyps.loc[without_hyps.name == 'antonym']

        child_id     name parent_id
397     137759-N  antonym  119600-N
667     118180-N  antonym  151843-N
687     117940-N  antonym  128653-N
1105    118231-N  antonym  118355-N
1441    116901-N  antonym  106474-N
...          ...      ...       ...
129616    3709-N  antonym  136957-N
129899  138069-N  antonym  119005-N
130159  120759-N  antonym  118658-N
130738  125676-N  antonym    8170-N
130786  106926-N  antonym  120184-N

[442 rows x 3 columns]

In [294]:
without_hyps.to_csv(os.getcwd()+"\\without_hyps.csv" , encoding='utf-8-sig', header=True, index=False)

In [295]:
without_hyps = pd.read_csv('without_hyps.csv')

In [31]:
without_hyps

NameError: name 'without_hyps' is not defined

In [297]:
for i in tqdm(range(len(without_hyps.child_id)), desc='Progress'):
    without_hyps.loc[i,'child_id'] = nouns.loc[nouns.id == without_hyps.loc[i,'child_id']].ruthes_name.array[0]

for i in tqdm(range(len(without_hyps.parent_id)), desc='Progress'):
    without_hyps.loc[i,'parent_id'] = nouns.loc[nouns.id == without_hyps.loc[i,'parent_id']].ruthes_name.array[0]

Progress: 100%|██████████| 27781/27781 [04:02<00:00, 114.36it/s]
Progress: 100%|██████████| 27781/27781 [04:49<00:00, 96.08it/s]

In [303]:
without_hyps[['child_id', 'parent_id']]

                    child_id                  parent_id
0                    РЕЛИГИЯ          КРЕСТНЫЙ РОДИТЕЛЬ
1               ХРИСТИАНСТВО          КРЕСТНЫЙ РОДИТЕЛЬ
2           ПРАВОВАЯ СИСТЕМА  НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
3                   ТОРГОВЛЯ  НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
4               ПРЕСТУПЛЕНИЕ  НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
...                      ...                        ...
27776       ПРАВОВАЯ СИСТЕМА                 АУТСОРСИНГ
27777     ТРУДОВЫЕ ОТНОШЕНИЯ                 АУТСОРСИНГ
27778               МЕДИЦИНА    ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
27779             ПСИХИАТРИЯ    ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
27780  ФИЗИОЛОГИЧЕСКАЯ НАУКА    ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ

[27781 rows x 2 columns]

In [304]:
without_hyps[['child_id', 'parent_id']].to_csv(os.getcwd()+"\\neg_hypernymy.csv" , encoding='utf-8-sig', header=True, index=False)

In [240]:
without_hyps.loc[i,'child_id'] = nouns.loc[nouns.id == without_hyps.loc[i,'child_id']].ruthes_name.array[0]

KeyError: 0

In [243]:
without_hyps.loc[i,'child_id']

KeyError: 0

In [226]:
without_hyps.loc[i,'child_id']

'147272-A'

In [252]:
strange = dfn.loc[dfn.name == 'instance hyponym'][:30]

In [264]:
for i in tqdm(range(len(strange.child_id)), desc='Progress'):
    strange.loc[i,'child_id'] = nouns.loc[nouns.id == strange.loc[i,'child_id']].ruthes_name.array[0]
for i in tqdm(range(len(without_hyps.parent_id)), desc='Progress'):
    strange.loc[i,'parent_id'] = nouns.loc[nouns.id == strange.loc[i,'parent_id']].ruthes_name.array[0]

Progress: 100%|██████████| 30/30 [00:00<00:00, 251.37it/s]
Progress: 100%|██████████| 30/30 [00:00<00:00, 301.80it/s]

In [267]:
strange.head(20)

,child_id,name,parent_id
0,БЛИЖНЕЕ ЗАРУБЕЖЬЕ,instance hyponym,ЗАРУБЕЖНЫЙ МИР
1,РИЕКА,instance hyponym,ГОРОД ХОРВАТИИ
2,ЗАГРЕБ,instance hyponym,ГОРОД ХОРВАТИИ
3,СЕРБЫ,instance hyponym,ЮГОСЛАВЫ
4,ХОРВАТЫ,instance hyponym,ЮГОСЛАВЫ
5,ЧЕРНОГОРЦЫ,instance hyponym,ЮГОСЛАВЫ
6,ФИННО-УГОРСКИЕ НАРОДЫ,instance hyponym,УРАЛЬСКО-ЮКАГИРСКИЕ НАРОДЫ
7,САМОДИЙСКИЕ НАРОДЫ,instance hyponym,УРАЛЬСКО-ЮКАГИРСКИЕ НАРОДЫ
8,ОКСФОРДСКИЙ УНИВЕРСИТЕТ,instance hyponym,БРИТАНСКИЕ УНИВЕРСИТЕТЫ
9,КЕМБРИДЖСКИЙ УНИВЕРСИТЕТ,instance hyponym,БРИТАНСКИЕ УНИВЕРСИТЕТЫ
10,ОКСБРИДЖ,instance hyponym,БРИТАНСКИЕ УНИВЕРСИТЕТЫ
11,АФРОАМЕРИКАНЦЫ,instance hyponym,НЕГРЫ
12,ПУШТУНЫ,instance hyponym,ПАКИСТАНЦЫ
13,ЛИПЕЦК,instance hyponym,ГОРОД ЛИПЕЦКОЙ ОБЛАСТИ
14,ГРЯЗИ,instance hyponym,ГОРОД ЛИПЕЦКОЙ ОБЛАСТИ
15,УСМАНЬ (ГОР. ЛИПЕЦКОЙ ОБЛАСТИ),instance hyponym,ГОРОД ЛИПЕЦКОЙ ОБЛАСТИ
16,ЗАДОНСК,instance hyponym,ГОРОД ЛИПЕЦКОЙ ОБЛАСТИ
17,ЛЕБЕДЯНЬ,instance hyponym,ГОРОД ЛИПЕЦКОЙ ОБЛАСТИ
18,СЕВЕРОМОРСК,instance hyponym,ГОРОД МУРМАНСКОЙ ОБЛАСТИ
19,МУРМАНСК,instance hyponym,ГОРОД МУРМАНСКОЙ ОБЛАСТИ

In [263]:
strange.to_csv(os.getcwd()+"\\strange.csv" , encoding='utf-8-sig', header=True, index=False)
strange = pd.read_csv('strange.csv')

In [262]:
strange

      child_id              name parent_id
54      3667-N  instance hyponym  129155-N
123   104745-N  instance hyponym  144998-N
124   139387-N  instance hyponym  144998-N
390   106126-N  instance hyponym  106292-N
391   106127-N  instance hyponym  106292-N
392   106293-N  instance hyponym  106292-N
1040  106181-N  instance hyponym  106180-N
1041  106190-N  instance hyponym  106180-N
1188  138805-N  instance hyponym  138804-N
1189  138806-N  instance hyponym  138804-N
1190  138807-N  instance hyponym  138804-N
1975  122099-N  instance hyponym  122100-N
2078  130111-N  instance hyponym  130112-N
2099  101703-N  instance hyponym  136786-N
2100  101705-N  instance hyponym  136786-N
2101  101707-N  instance hyponym  136786-N
2102  101708-N  instance hyponym  136786-N
2103  101709-N  instance hyponym  136786-N
2476  101378-N  instance hyponym  136796-N
2477  102104-N  instance hyponym  136796-N
2478  102106-N  instance hyponym  136796-N
2479  102108-N  instance hyponym  136796-N
2480  102112-N  instance hyponym  136796-N
2481  102113-N  instance hyponym  136796-N
2482  105731-N  instance hyponym  136796-N
2483  105734-N  instance hyponym  136796-N
3144  101352-N  instance hyponym  136781-N
3145  101354-N  instance hyponym  136781-N
3146  101355-N  instance hyponym  136781-N
3147  101361-N  instance hyponym  136781-N

In [268]:
hypernymy

                             child_id      name                   parent_id
0                          ХРИСТИАНИН  hypernym           КРЕСТНЫЙ РОДИТЕЛЬ
1      ПРЕСТУПЛЕНИЕ В СФЕРЕ ЭКОНОМИКИ  hypernym   НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
2                    НАРУШЕНИЕ ПРАВИЛ  hypernym   НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
3                     ВОДОПОЛЬЗОВАНИЕ  hypernym                  ЗАБОР ВОДЫ
4          ЗАБРАТЬ (ВЗЯТЬ, ЗАХВАТИТЬ)  hypernym                  ЗАБОР ВОДЫ
...                               ...       ...                         ...
37244           ГОСУДАРСТВЕННЫЙ ОРГАН  hypernym  ОРГАН ФИНАНСОВОГО КОНТРОЛЯ
37245               ОРГАНИЗАЦИЯ ТРУДА  hypernym                  АУТСОРСИНГ
37246     РАБОТЫ НА ДОГОВОРНОЙ ОСНОВЕ  hypernym                  АУТСОРСИНГ
37247        ОРГАНИЗАЦИЯ ПРОИЗВОДСТВА  hypernym                  АУТСОРСИНГ
37248                         БОЛЕЗНЬ  hypernym     ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ

[37249 rows x 3 columns]

In [318]:
vocabulary = set()

In [352]:
for i in range(len(nouns.ruthes_name )):
    for j in nouns.ruthes_name[i].split():
        vocabulary.add(j.lower())

In [117]:
vocabulary

NameError: name 'vocabulary' is not defined

In [430]:
new_vocabulary = []
for i in vocabulary:
    #i = i.replace(")", "")
    #i = re.sub(r"())", "", i)
    #if not (i[0] == '(' or i[-1] == ')'):
    new_vocabulary.append(i.replace('(','').replace(')','').replace('/','').replace(',',''))

In [5]:
news = pd.read_csv('news_df_1.csv', sep='\t', comment='#')

In [3]:
import pandas as pd

In [8]:
news.columns.values

array(['file_name,file_sentences'], dtype=object)

In [17]:
news['file_name,file_sentences'][0][1:-1]

'"Очередной День здоровья проведут в Краснодаре На этот раз мероприятие посвятят атеросклерозу .", "Завтра с 10 : 00 и до 12 : 00 в четырех поликлиниках краевой столицы , а также в двух пригородных проведут День здоровья .", "« Сердечно - сосудистые заболевания являются одним из самых опасных заболеваний в мире , причиной преждевременных смертей и главной медико - социальной проблемой в области здравоохранения .", "Профилактическая акция призвана привлечь внимание жителей города к важности раннего выявления заболеваний сердечно - сосудистой системы », — отметили организаторы , сообщает пресс - служба администрации Краснодара .", "Подобные Дни здоровья проведут завтра и в других районах Краснодарского края .", "Так , в Ленинградском районе в центральной больнице все желающие смогут узнать о состоянии своего здоровья без записи и направления .", "Акция под девизом « Здоровые сосуды – долгая жизнь » также будет организована во всех муниципалитетах края ."'

In [118]:
positive = pd.read_csv('pos.csv')

In [126]:
for i in range(36673, len(positive.child_id)):
    positive.loc[i, 'child_id'] = positive.loc[i, 'child_id'].lower()
    positive.loc[i, 'parent_id'] = positive.loc[i, 'parent_id'].lower()

In [133]:
positive.to_csv('pos.csv', encoding='utf-8-sig', header=True, index=False)

In [132]:
positive = positive.rename(columns={"child_id": "child", "parent_id": "parent"})

In [122]:
len(positive.child_id)

37249

In [134]:
negative = pd.read_csv('neg.csv')

In [137]:
for i in range(len(negative.child_id)):
    negative.loc[i, 'child_id'] = negative.loc[i, 'child_id'].lower()
    negative.loc[i, 'parent_id'] = negative.loc[i, 'parent_id'].lower()

In [139]:
negative = negative.rename(columns={"child_id": "child", "parent_id": "parent"})

In [141]:
negative.to_csv('neg.csv', encoding='utf-8-sig', header=True, index=False)

In [140]:
negative.head()

              child                     parent  label
0           религия          крестный родитель      0
1      христианство          крестный родитель      0
2  правовая система  нарушение правил торговли      0
3          торговля  нарушение правил торговли      0
4      преступление  нарушение правил торговли      0

In [119]:
positive.head()

              child_id                      parent_id  label
0        КРЕСТНЫЙ ОТЕЦ              КРЕСТНЫЙ РОДИТЕЛЬ      1
1    ОБМАН ПОКУПАТЕЛЕЙ      НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ      1
2      ВОЕННАЯ ТАКТИКА  ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ      1
3              УСМЕШКА                         УЛЫБКА      1
4  РЕЦЕПТУРА ЛЕКАРСТВА           РЕЦЕПТ ПРИГОТОВЛЕНИЯ      1

In [18]:
qwe = pd.read_csv('neg_hypernymy.csv')

In [26]:
qwe

                    child_id                  parent_id
0                    РЕЛИГИЯ          КРЕСТНЫЙ РОДИТЕЛЬ
1               ХРИСТИАНСТВО          КРЕСТНЫЙ РОДИТЕЛЬ
2           ПРАВОВАЯ СИСТЕМА  НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
3                   ТОРГОВЛЯ  НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
4               ПРЕСТУПЛЕНИЕ  НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
...                      ...                        ...
27776       ПРАВОВАЯ СИСТЕМА                 АУТСОРСИНГ
27777     ТРУДОВЫЕ ОТНОШЕНИЯ                 АУТСОРСИНГ
27778               МЕДИЦИНА    ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
27779             ПСИХИАТРИЯ    ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
27780  ФИЗИОЛОГИЧЕСКАЯ НАУКА    ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ

[27781 rows x 2 columns]

In [27]:
27781-442

27339

In [28]:
wer = pd.read_csv('pos_hypernymy.csv')
wer

                        child_id                      parent_id
0                  КРЕСТНЫЙ ОТЕЦ              КРЕСТНЫЙ РОДИТЕЛЬ
1              ОБМАН ПОКУПАТЕЛЕЙ      НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ
2                ВОЕННАЯ ТАКТИКА  ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ
3                        УСМЕШКА                         УЛЫБКА
4            РЕЦЕПТУРА ЛЕКАРСТВА           РЕЦЕПТ ПРИГОТОВЛЕНИЯ
...                          ...                            ...
37244    ФОБИЯ, НАВЯЗЧИВЫЙ СТРАХ        ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
37245  ДЕПРЕССИВНОЕ РАССТРОЙСТВО        ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
37246                     АУТИЗМ        ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
37247          НЕРВНАЯ АНОРЕКСИЯ        ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ
37248        РАЗДВОЕНИЕ ЛИЧНОСТИ        ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ

[37249 rows x 2 columns]

In [41]:
import lingcorpora

In [39]:
lingcorpora.__init__

In [33]:
output = lingcorpora.bam_search(query='súngurun', corpus='corbama-net-tonal')

AttributeError: module 'lingcorpora' has no attribute 'bam_search'

In [43]:
output = lingcorpora.pl_search('powstanie' , tag=True, n_results=15)

AttributeError: module 'lingcorpora' has no attribute 'pl_search'

In [46]:

    args = sys.argv[1:]
    parser = argparse.ArgumentParser()
    parser.add_argument('corpus', type=str)
    parser.add_argument('query', type=str)
    parser.add_argument('tag', type=str)
    parser.add_argument('n_results', type=int)
    parser.add_argument('write', type=bool)
    parser.add_argument('kwic', type=bool)
    args = parser.parse_args(args)
    main(query, corpus, tag, n_results, write, kwic)

usage: ipykernel_launcher.py [-h] corpus query tag n_results write kwic
ipykernel_launcher.py: error: the following arguments are required: query, tag, n_results, write, kwic

SystemExit: 2

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [51]:
df = main('собака',n_results=20)

In [58]:
len(df.left[3])

34

In [95]:
main('собака',n_results=20, kwic=True, write=False)

http://search1.ruscorpora.ru/search.xml?env=alpha&mycorp=&mysent=&mysize=&mysentsize=&mydocsize=&spd=&text=lexgramm&mode=main&sort=gr_tagging&lang=ru&nodia=1&parent1=0&level1=0&lex1=%F1%EE%E1%E0%EA%E0&gramm1=&sem1=&sem-mod1=sem&sem-mod1=sem2&flags1=&m1=&parent2=0&level2=0&min2=1&max2=1&lex2=&gramm2=&sem2=&sem-mod2=sem&sem-mod2=sem2&flags2=&m2=&out=kwic сайтик

,left,center,right
0,"[shilo83, nick] Ну пусть потрубят…",Собака,лает ветер носит… Им же ←…→\n
1,легко - поставить всех в позу «,собаки,» и делать вид что это ←…→\n
2,легко - поставить всех в позу «,собаки,» и делать вид что это ←…→\n
3,дизайном Сатаны в фильме «Спаун» (,собака,"с ушами), так и здесь ←…→\n"
4,блондин-горилла со своей долбаной,собакой,весь фильм вызывал улыбку. ←…→\n
5,"[Николаич, nick] Кстати, все",собаки,― кальки с «Нечто» и «Чужих ←…→\n
6,"считает, что Максимке совершенно необходима",собака,. ←…→\n
7,словно я собралась завести не,собаку,", а любовника. ←…→\n"
8,"Да и ты, если заведёшь",собаку,", со своей работой вообще про ←…→\n"
9,я. ― А потом заведу сыну,собаку,". Ничего, переживём. ←…→\n"
10,"в дом втроём: я, сын,",собака,. ←…→\n
11,"сказала я, ― а я завела",собаку,! ←…→\n
12,Ксюта (ей полгодика) и,собака,Лекс ― спаситель нашей семьи. ←…→\n
13,Кто же с,собакой,теперь гулять будет? ←…→\n
14,ко всему будет гулять с,собакой,… ←…→\n
15,"учат же попугаев говорить, а",собак,― приносить палку. ←…→\n
16,С,собаками,у представителей сильного пола возникает ←…→...
17,"Например, у гиеновых",собак,", которые всегда, даже в период ←…→\n"
18,Как у гиеновых,собак,", так и у землекопов её ←…→\n"
19,Читают ли гончие,собаки,"журнал ""Знание― сила""? ←…→\n"

In [74]:
main('относительный',n_results=20, kwic=False, write = False)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

0     по-разному, и все в жизни  относительно …   ←…...
1     значению; при достаточно больших значениях  от...
2      Американские банки были удивлены  относительн...
3       ―  относительные  фазовые проницаемости для ...
4     время" практически совпадают (рис. 7) ―  относ...
5     для описания процессного подхода, а  относител...
6     если говорить, хоть и об  относительной , но в...
7     трех иерархически упорядоченных и обладающих  ...
8     локализация перемещений и их последствий,  отн...
9     с тем состояние транспортной сети,  относитель...
10     В  относительном  экологическом благополучии ...
11    они моноклинными и ромбическими пироксенами,  ...
12      Относительное  развитие этих простых форм об...
13      Относительные  количества главных (породообр...
14      Относительная  численность работающих сохран...
15      Относительная  слабость репрессии присяжных ...
16     Чему равна  относительная  диэлектрическая пр...
17    1, 3, в вакуум.  Определите  относительное  из...
18    есть кран, рассмотрите, каким будет  относител...
19    США.   Понятия добра и зла  относительны .  Не...
dtype: object

In [8]:
for_syn = pd.read_csv('training.csv')

for_syn.PARENT_TEXTS[0]

"['СОВЕРШЕННОЛЕТНИЕ ЛИЦА, СОВЕРШЕННОЛЕТНИЙ ГРАЖДАНИН, ВЗРОСЛЫЙ ЧЕЛОВЕК', 'МУЖИЧОНКА, МУЖЧИНА, МУЖИК, ДЯДЬКА, ВЗРОСЛЫЙ МУЖЧИНА', 'МУЖЕСКИЙ ПОЛ, СИЛЬНЫЙ ПОЛ, ЧЕЛОВЕК МУЖСКОГО ПОЛА, ЛИЦО МУЖЕСКОГО ПОЛА, ЛИЦО МУЖСКОГО ПОЛА, МУЖЧИНА, МУЖСКОЙ ПОЛ']"

In [19]:
for_syn.PARENT_TEXTS[0][1:-1].split("', '")#.replace("'", '')

["'СОВЕРШЕННОЛЕТНИЕ ЛИЦА, СОВЕРШЕННОЛЕТНИЙ ГРАЖДАНИН, ВЗРОСЛЫЙ ЧЕЛОВЕК",
 'МУЖИЧОНКА, МУЖЧИНА, МУЖИК, ДЯДЬКА, ВЗРОСЛЫЙ МУЖЧИНА',
 "МУЖЕСКИЙ ПОЛ, СИЛЬНЫЙ ПОЛ, ЧЕЛОВЕК МУЖСКОГО ПОЛА, ЛИЦО МУЖЕСКОГО ПОЛА, ЛИЦО МУЖСКОГО ПОЛА, МУЖЧИНА, МУЖСКОЙ ПОЛ'"]

In [22]:
for_syn.shape

(17242, 4)

In [44]:
len('В 7 лет привёз его в Запорожскую Сечь крестный отец. Корж прошёл путь настоящего казака – от джуры (оруженосца) до войскового старшины. Был назначен сечевым знахарем. Кроме того, у атамана Петра Калнышевского Никита Корж был кухарем и доверенным лицом – конфидентом.')

266

In [55]:
pos = pd.read_csv('pos_hypernymy.csv')
neg = pd.read_csv('neg_hypernymy.csv')

In [59]:
pos['label'] = 1

In [60]:
pos.head()

              child_id                      parent_id  label
0        КРЕСТНЫЙ ОТЕЦ              КРЕСТНЫЙ РОДИТЕЛЬ      1
1    ОБМАН ПОКУПАТЕЛЕЙ      НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ      1
2      ВОЕННАЯ ТАКТИКА  ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ      1
3              УСМЕШКА                         УЛЫБКА      1
4  РЕЦЕПТУРА ЛЕКАРСТВА           РЕЦЕПТ ПРИГОТОВЛЕНИЯ      1

In [61]:
neg['label'] = 0

In [62]:
pos.to_csv('pos.csv', encoding='utf-8-sig', header=True, index=False)

In [63]:
neg.to_csv('neg.csv', encoding='utf-8-sig', header=True, index=False)

In [ ]:
for i in tqdm(range(len(positive.child_id)), desc='Progress'):
    lines = main(positive.child_id[i].lower(),n_results=14, kwic=False, write=False)
    if type(main(positive.child_id[i].lower(),n_results=14, kwic=False, write=False)) == type(example):
        line = main(positive.child_id[i].lower(),n_results=14, kwic=False, write=False)[0].replace('\xa0\xa0←…→\n   ','').replace('\xa0','')
        positive.loc[i,'child_context'] = line
        counter += 1

In [ ]:
aimport

In [114]:
with_childs = pd.read_csv('with_childs.csv')

In [116]:
with_childs

,child_id,parent_id,child_context,parent_context
0,КРЕСТНЫЙ ОТЕЦ,КРЕСТНЫЙ РОДИТЕЛЬ,"его: «А разве Авель Енукидзе, крестный отец тв...",NaN
1,ОБМАН ПОКУПАТЕЛЕЙ,НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ,за продажу некачественных товаров и обман поку...,NaN
2,ВОЕННАЯ ТАКТИКА,"ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ","Военная тактика ― одно, а житейская ― совсем",NaN
3,УСМЕШКА,УЛЫБКА,Кривая усмешка шевельнула усики на губе Виталии,NaN
4,РЕЦЕПТУРА ЛЕКАРСТВА,РЕЦЕПТ ПРИГОТОВЛЕНИЯ,NaN,NaN
...,...,...,...,...
37244,"ФОБИЯ, НАВЯЗЧИВЫЙ СТРАХ",ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,NaN,NaN
37245,ДЕПРЕССИВНОЕ РАССТРОЙСТВО,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,NaN,NaN
37246,АУТИЗМ,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,NaN,NaN
37247,НЕРВНАЯ АНОРЕКСИЯ,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,NaN,NaN
37248,РАЗДВОЕНИЕ ЛИЧНОСТИ,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,NaN,NaN

In [64]:
with_parents = pd.read_csv('with_parents.csv')

In [84]:
dataset = with_childs[['child_id', 'parent_id', 'child_context']]

In [51]:
parents = with_parents.parent_context

In [85]:
dataset['parent_context'] = 0

In [80]:
dataset = dataset.fillna(0)

In [82]:
dataset.loc[(dataset.child_context != 0)&(dataset.parent_context != 0)]

,child_id,parent_id,child_context,parent_context
1,ОБМАН ПОКУПАТЕЛЕЙ,НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ,за продажу некачественных товаров и обман поку...,28 сентября 1998 г. за нарушение правил торгов...
3,УСМЕШКА,УЛЫБКА,Кривая усмешка шевельнула усики на губе Виталии,"видишь его героя, непроизвольно появляется улы..."

In [77]:
dataset['parent_context'] = with_childs['child_context'].repl

NameError: name 'NaN' is not defined

In [109]:
for i in range(len(dataset.child_id)):
    if type(dataset.loc[i,'child_context']) != float:
        dataset.loc[i,'parent_context'] = dataset.loc[i,'child_context'].replace(dataset.loc[i,'parent_id'].lower(), dataset.loc[i,'child_id'].lower())

In [105]:
dataset.loc[0,'child_context'].replace(dataset.loc[0,'child_id'].lower(), dataset.loc[0,'parent_id'].lower())

'его: «А разве Авель Енукидзе, крестный родитель твоей жены, был плох'

In [108]:
dataset.loc[i,'parent_context']

0

In [112]:
dataset.fillna(0)

,child_id,parent_id,child_context,parent_context
0,КРЕСТНЫЙ ОТЕЦ,КРЕСТНЫЙ РОДИТЕЛЬ,"его: «А разве Авель Енукидзе, крестный отец тв...","его: «А разве Авель Енукидзе, крестный отец тв..."
1,ОБМАН ПОКУПАТЕЛЕЙ,НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ,за продажу некачественных товаров и обман поку...,за продажу некачественных товаров и обман поку...
2,ВОЕННАЯ ТАКТИКА,"ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ","Военная тактика ― одно, а житейская ― совсем","Военная тактика ― одно, а житейская ― совсем"
3,УСМЕШКА,УЛЫБКА,Кривая усмешка шевельнула усики на губе Виталии,Кривая усмешка шевельнула усики на губе Виталии
4,РЕЦЕПТУРА ЛЕКАРСТВА,РЕЦЕПТ ПРИГОТОВЛЕНИЯ,0,0
...,...,...,...,...
37244,"ФОБИЯ, НАВЯЗЧИВЫЙ СТРАХ",ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,0,0
37245,ДЕПРЕССИВНОЕ РАССТРОЙСТВО,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,0,0
37246,АУТИЗМ,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,0,0
37247,НЕРВНАЯ АНОРЕКСИЯ,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,0,0
37248,РАЗДВОЕНИЕ ЛИЧНОСТИ,ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ,0,0

In [ ]:
dataset.

In [113]:
dataset.loc[(dataset.child_context != 0)&(dataset.parent_context != 0)]

,child_id,parent_id,child_context,parent_context
0,КРЕСТНЫЙ ОТЕЦ,КРЕСТНЫЙ РОДИТЕЛЬ,"его: «А разве Авель Енукидзе, крестный отец тв...","его: «А разве Авель Енукидзе, крестный отец тв..."
1,ОБМАН ПОКУПАТЕЛЕЙ,НАРУШЕНИЕ ПРАВИЛ ТОРГОВЛИ,за продажу некачественных товаров и обман поку...,за продажу некачественных товаров и обман поку...
2,ВОЕННАЯ ТАКТИКА,"ТАКТИКА, ТАКТИЧЕСКИЕ ДЕЙСТВИЯ","Военная тактика ― одно, а житейская ― совсем","Военная тактика ― одно, а житейская ― совсем"
3,УСМЕШКА,УЛЫБКА,Кривая усмешка шевельнула усики на губе Виталии,Кривая усмешка шевельнула усики на губе Виталии